body {
    font-size: 16px;
}

footer {
    margin-top: 30px;
}

@font-face {
    font-family: FontAwesome;
    src: url(fonts/fontawesome/fontawesome-webfont.eot?v=4.6.3);
    src: url(fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.6.3) format('embedded-opentype'),url(fonts/fontawesome/fontawesome-webfont.woff2?v=4.6.3) format('woff2'),url(fonts/fontawesome/fontawesome-webfont.woff?v=4.6.3) format('woff'),url(fonts/fontawesome/fontawesome-webfont.ttf?v=4.6.3) format('truetype'),url(fonts/fontawesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

ul.language-dropdown {
    display: none;
    position: absolute;
    background: #f3f6f6;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 1px 1px 2px -1px rgba(255,255,255,0.5) inset, 0px -1px 0px 0px rgba(0,0,0,0.1) inset;
}

ul.language-dropdown li {
    display: block;
}

.rst-content code {
    white-space: pre-wrap;
    border: none;
    padding: 0;
    background: none;
}

.rst-content pre {
    padding: 12px 12px;
    border: 1px solid #e1e4e5;
    background: #f8f8f8;
}



/* code highlights */
div.rst-content pre .hljs-comment,
div.rst-content code .hljs-comment,
div.rst-content pre .hljs-title,
div.rst-content code .hljs-title {
  color: #408080;
}
/*
div.rst-content pre .hljs-variable,
div.rst-content code .hljs-variable,
div.rst-content pre .hljs-attribute,
div.rst-content code .hljs-attribute,
div.rst-content pre .hljs-tag,
div.rst-content code .hljs-tag,
div.rst-content pre .hljs-regexp,
div.rst-content code .hljs-regexp,
div.rst-content pre .hljs-deletion,
div.rst-content code .hljs-deletion,
div.rst-content pre .ruby .hljs-constant,
div.rst-content code .ruby .hljs-constant,
div.rst-content pre .xml .hljs-tag .hljs-title,
div.rst-content code .xml .hljs-tag .hljs-title,
div.rst-content pre .xml .hljs-pi,
div.rst-content code .xml .hljs-pi,
div.rst-content pre .xml .hljs-doctype,
div.rst-content code .xml .hljs-doctype,
div.rst-content pre .html .hljs-doctype,
div.rst-content code .html .hljs-doctype,
div.rst-content pre .css .hljs-id,
div.rst-content code .css .hljs-id,
div.rst-content pre .css .hljs-class,
div.rst-content code .css .hljs-class,
div.rst-content pre .css .hljs-pseudo,
div.rst-content code .css .hljs-pseudo {
  color: #c82829; 
}
*/
div.rst-content pre .hljs-number,
div.rst-content code .hljs-number,
div.rst-content pre .hljs-preprocessor,
div.rst-content code .hljs-preprocessor,
div.rst-content pre .hljs-pragma,
div.rst-content code .hljs-pragma,
div.rst-content pre .hljs-built_in,
div.rst-content code .hljs-built_in,
div.rst-content pre .hljs-literal,
div.rst-content code .hljs-literal,
div.rst-content pre .hljs-params,
div.rst-content code .hljs-params,
div.rst-content pre .hljs-constant,
div.rst-content code .hljs-constant {
  color: #666666;
}
div.rst-content pre .ruby .hljs-class .hljs-title,
div.rst-content code .ruby .hljs-class .hljs-title,
div.rst-content pre .css .hljs-rules .hljs-attribute,
div.rst-content code .css .hljs-rules .hljs-attribute {
  color: #eab700;
}
div.rst-content pre .hljs-string,
div.rst-content code .hljs-string,
div.rst-content pre .hljs-value,
div.rst-content code .hljs-value,
div.rst-content pre .hljs-inheritance,
div.rst-content code .hljs-inheritance,
div.rst-content pre .hljs-header,
div.rst-content code .hljs-header,
div.rst-content pre .hljs-addition,
div.rst-content code .hljs-addition,
div.rst-content pre .ruby .hljs-symbol,
div.rst-content code .ruby .hljs-symbol,
div.rst-content pre .xml .hljs-cdata,
div.rst-content code .xml .hljs-cdata {
  color: #BA2121;
}
div.rst-content pre .css .hljs-hexcolor,
div.rst-content code .css .hljs-hexcolor {
  color: #3e999f;
}
div.rst-content pre .hljs-function,
div.rst-content code .hljs-function,
div.rst-content pre .python .hljs-decorator,
div.rst-content code .python .hljs-decorator,
div.rst-content pre .python .hljs-title,
div.rst-content code .python .hljs-title,
div.rst-content pre .ruby .hljs-function .hljs-title,
div.rst-content code .ruby .hljs-function .hljs-title,
div.rst-content pre .ruby .hljs-title .hljs-keyword,
div.rst-content code .ruby .hljs-title .hljs-keyword,
div.rst-content pre .perl .hljs-sub,
div.rst-content code .perl .hljs-sub,
div.rst-content pre .javascript .hljs-title,
div.rst-content code .javascript .hljs-title,
div.rst-content pre .coffeescript .hljs-title,
div.rst-content code .coffeescript .hljs-title {
  color: #4271ae;
}
div.rst-content pre .hljs-keyword,
div.rst-content code .hljs-keyword,
div.rst-content pre .javascript .hljs-function,
div.rst-content code .javascript .hljs-function {
  color: #008000;
}
div.rst-content pre .coffeescript .javascript,
div.rst-content code .coffeescript .javascript,
div.rst-content pre .javascript .xml,
div.rst-content code .javascript .xml,
div.rst-content pre .tex .hljs-formula,
div.rst-content code .tex .hljs-formula,
div.rst-content pre .xml .javascript,
div.rst-content code .xml .javascript,
div.rst-content pre .xml .vbscript,
div.rst-content code .xml .vbscript,
div.rst-content pre .xml .css,
div.rst-content code .xml .css,
div.rst-content pre .xml .hljs-cdata,
div.rst-content code .xml .hljs-cdata {
  opacity: 0.5;
}